<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>ru.knize.hyperloop.MyServletContextListener</listener-class>
    </listener>

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>ru.knize.hyperloop.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>ru.knize.hyperloop.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CMSIndex</servlet-name>
        <servlet-class>ru.knize.hyperloop.CMSIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CMSIndex</servlet-name>
        <url-pattern>/cms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStation</servlet-name>
        <servlet-class>ru.knize.hyperloop.AddStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStation</servlet-name>
        <url-pattern>/cms/addStation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCapsule</servlet-name>
        <servlet-class>ru.knize.hyperloop.AddCapsuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCapsule</servlet-name>
        <url-pattern>/cms/addCapsule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StationControl</servlet-name>
        <servlet-class>ru.knize.hyperloop.StationControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationControl</servlet-name>
        <url-pattern>/api/stations/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WatchCapsules</servlet-name>
        <servlet-class>ru.knize.hyperloop.WatchCapsulesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WatchCapsules</servlet-name>
        <url-pattern>/cms/watchCapsules</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>ru.knize.hyperloop.ScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>ru.knize.hyperloop.AboutUsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/aboutUs</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
</web-app>
