<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>ru.knize.hyperloop.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>ru.knize.hyperloop.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CMSIndex</servlet-name>
        <servlet-class>ru.knize.hyperloop.CMSIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CMSIndex</servlet-name>
        <url-pattern>/cms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStation</servlet-name>
        <servlet-class>ru.knize.hyperloop.AddStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStation</servlet-name>
        <url-pattern>/cms/addStation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>ru.knize.hyperloop.AboutUsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/aboutUs</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
</web-app>
