$primary-color: #694963 !default;

$primary-color-light: #8e6c87 !default;
$primary-color-dark: #20161e !default;

html body nav{
  background-color: $primary-color-dark;
}


.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
